.square {
  width: 100px;
  height: 100px;
  background-color: black;
  transition: all 1s;
}

.rounded {
  border-radius: 50px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: solid transparent;
  border-right: solid transparent;
  border-top: solid transparent;
  border-bottom: solid #000;
}
