.square {
  width: 100px;
  height: 100px;
  background-color: black;
  transition: all 1s;
  margin-bottom: 10px;
}

.rounded {
  border-radius: 50px;
}

.triangle {
  width: 0;
  height: 0;
  background-color: #fff;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid transparent;
  border-bottom: 60px solid #000;
  border-radius: 0px;
  /* transform: rotate(360deg); */
}
